/* src/agent/agentdashboard.css */

.page {
    border: 2px solid blue;
    height: 90vh;
}

.Heading{
  color: blue;
  border-bottom: 2px solid blue;
margin: 15px;}

.Card-container {
  padding: 5px;
    display: flex;
    justify-content: space-between;  /* Space between cards */
    gap: 20px;  /* Adds a gap between the cards */
    flex-wrap: wrap;
      /* Allows wrapping on smaller screens */
  }
  
  .Card-container .card {
    flex: 1;  /* Ensures the cards have equal width */
    min-width: 250px;  /* Minimum width for each card */
  }
  