/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between rows */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Center align */
  
}

.form-container form{
  display: flex;
  width: 100% ;
  flex-direction: column;
  align-items: normal;
}
.filter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-group {
  flex: 1;
  min-width: 200px;
}

.radio-group {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bold ;
  color: blue;
}

input[type="radio"] {
  appearance: none;
  width: 6px; /* Adjusted width */
  height: 6px; /* Adjusted height */
  border: 2px solid #007bff;
  border-radius: 50%; /* Circular shape */
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="radio"]:checked {
  background-color: #007bff;
}

input[type="text"], input[type="date"], input[type="password"], select {
  width: 100%;  /* Ensures all inputs have the same width */
  max-width: 300px; /* Adjusted max-width for consistency */
}


.button-container{
  display: flex;
  justify-content: center;
}

.infobar {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #e6ebff;  /* Add a light background color */
  border-radius: 4px;
}

.infobar span {
  font-size: 16px;
  color: #333;
}
